
[Desktop Entry]
Name=Textedit url handler
Comment=Handle textedit:// links
Version=1.0
Type=Application
Exec=%%BINPATH%%/textedit.py %u
MimeType=x-scheme-handler/textedit;
